#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
p {
  font-size: 1.2em;
  text-align: start;
}
img {
  max-width: 100%;
  height: auto;
}
div.book ul{
  list-style: none;
}